@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');



@import 'tailwindcss';


@font-face{
  font-family: Lufga;
  src: url('../src/assets/fonts/Lufga.ttf');
}

@theme{
  
  --font-lufga: Lufga , 'sans-serif';
  --font-outfit: Outfit , 'sans-serif';
  
}

html {
  scroll-behavior: smooth;
}



/* menubar animation */

.icon-holder {
  width: 28px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background: white;
  transition: all 0.3s ease;
  border-radius: 4px;
}

/* Animation on open */
.icon-holder.menu-open .bar-1 {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.icon-holder.menu-open .bar-2 {
  opacity: 0;
  transform: translateX(-20px);
}

.icon-holder.menu-open .bar-3 {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}




/* banner slide */

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}


.card{
clip-path: polygon(0 0, 100% 0, 100% 76%, 81% 76%, 69% 86%, 69% 100%, 0 100%);

}





/*slides testimonial  cards*/

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 55s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
